
<div class="row bg-info ontainer-fluid p-1">

    <div class="col-1">
       <img src="https://picsum.photos/40" class="rounded-circle" alt="">
    </div>

    <div class="col-9" >
<h6> Jose Baker  </h6>
    </div>

    <div class="col-2 "  style="display: -webkit-box;">
        <img class="horn"    src="../../../assets/img/video-camera.png"  style="width: 20px;" />
   &nbsp;   &nbsp;    &nbsp;
   <img class="horn"    src="../../../assets/img/phone.png"  style="width: 20px;" />
   &nbsp;   &nbsp;    &nbsp;
        <div dropdown class="dropdown-event">
            <a id="button-basic" dropdownToggle aria-controls="dropdown-basic">
        <img class="horn"    src="../../../assets/img/three-dots-vertical.svg" />
        </a> 
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
             
              <!-- <li role="menuitem"><a class="dropdown-item" routerLink="Live">Event Media</a></li> -->
              <li role="menuitem"><a class="dropdown-item" routerLink="media"> Block </a></li>
              <li role="menuitem"><a class="dropdown-item" routerLink="task"> Media </a></li>
            </ul>
        </div> 
    </div>
</div>
