<div class="container">
    <div class="row">
        <div class="col-12 pt-3">
            <h4 class="modal-title pull-left">Notifications</h4>
            <div class="list-group mt-1">
                <li class="list-item">
                    <div class="box-iten">
                        <label>Alex John <small>3 May 2021</small></label>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, voluptatibus fugiat, modi magnam iste assumenda repudiandae voluptate quam consequuntur atque quod dolorum commodi aperiam ut neque non temporibus nesciunt? Repellendus
                            est obcaecati aut unde dicta!</p>
                    </div>
                    <div class="remuve-item">
                        <button><img style="width: 18px;" src="../../../assets/img/bin.svg"></button>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-iten">
                        <label>Alex John <small>3 May 2021</small></label>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, voluptatibus fugiat, modi magnam iste assumenda repudiandae voluptate quam consequuntur atque quod dolorum commodi aperiam ut neque non temporibus nesciunt? Repellendus
                            est obcaecati aut unde dicta!</p>
                    </div>
                    <div class="remuve-item">
                        <button><img src="../../../assets/img/bin.svg"></button>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-iten">
                        <label>Alex John <small>3 May 2021</small></label>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, voluptatibus fugiat, modi magnam iste assumenda repudiandae voluptate quam consequuntur atque quod dolorum commodi aperiam ut neque non temporibus nesciunt? Repellendus
                            est obcaecati aut unde dicta!</p>
                    </div>
                    <div class="remuve-item">
                        <button><img src="../../../assets/img/bin.svg"></button>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-iten">
                        <label>Alex John <small>3 May 2021</small></label>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, voluptatibus fugiat, modi magnam iste assumenda repudiandae voluptate quam consequuntur atque quod dolorum commodi aperiam ut neque non temporibus nesciunt? Repellendus
                            est obcaecati aut unde dicta!</p>
                    </div>
                    <div class="remuve-item">
                        <button><img src="../../../assets/img/bin.svg"></button>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-iten">
                        <label>Alex John <small>3 May 2021</small></label>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, voluptatibus fugiat, modi magnam iste assumenda repudiandae voluptate quam consequuntur atque quod dolorum commodi aperiam ut neque non temporibus nesciunt? Repellendus
                            est obcaecati aut unde dicta!</p>
                    </div>
                    <div class="remuve-item">
                        <button><img src="../../../assets/img/bin.svg"></button>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-iten">
                        <label>Alex John <small>3 May 2021</small></label>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, voluptatibus fugiat, modi magnam iste assumenda repudiandae voluptate quam consequuntur atque quod dolorum commodi aperiam ut neque non temporibus nesciunt? Repellendus
                            est obcaecati aut unde dicta!</p>
                    </div>
                    <div class="remuve-item">
                        <button><img src="../../../assets/img/bin.svg"></button>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-iten">
                        <label>Alex John <small>3 May 2021</small></label>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, voluptatibus fugiat, modi magnam iste assumenda repudiandae voluptate quam consequuntur atque quod dolorum commodi aperiam ut neque non temporibus nesciunt? Repellendus
                            est obcaecati aut unde dicta!</p>
                    </div>
                    <div class="remuve-item">
                        <button><img src="../../../assets/img/bin.svg"></button>
                    </div>
                </li>
                <li class="list-item">
                    <div class="box-iten">
                        <label>Alex John <small>3 May 2021</small></label>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus, voluptatibus fugiat, modi magnam iste assumenda repudiandae voluptate quam consequuntur atque quod dolorum commodi aperiam ut neque non temporibus nesciunt? Repellendus
                            est obcaecati aut unde dicta!</p>
                    </div>
                    <div class="remuve-item">
                        <button><img src="../../../assets/img/bin.svg"></button>
                    </div>
                </li>





            </div>

        </div>

    </div>

</div>