<div class="container">
    <h4 class="modal-title pull-left mt-3">Contact Us</h4>
    <form [formGroup]="ContactForm" (ngSubmit)="onSubmit()" *ngIf="ContactForm">
        <div class="row">
            <div class="col-12">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="title" trim="blur" maxlength="50" placeholder="{{'TITLE' | translate}}">
                        <label>{{'TITLE' | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="ContactForm.controls['title']" [messages]="messageList.title">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="email" class="form-control" formControlName="email" placeholder="{{'EMAIL' | translate}}" trim maxlength="60">
                        <label>{{'EMAIL' | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="ContactForm.controls['email']" [messages]="messageList.email">
                        </app-validation-message>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="form-group input-group">
                    <!-- <div class="custom-select-box">
                       <select class="form-control" formControlName="country_code">
                    <option>+91</option>
                    <option>+61</option>
                </select> 
            </div> -->
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="mobile" placeholder="{{'CONTACT_NUMBER' | translate}}" trim maxlength="10">
                        <label>{{'CONTACT_NUMBER' | translate}}</label>
                    </div>

                    <div class="validation-div">
                        <app-validation-message [control]="ContactForm.controls['mobile']" [messages]="messageList.mobile">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="form-group input-group">
                    <div class="has-float-label">
                        <input type="text" class="form-control" formControlName="fullName" trim="blur" maxlength="50" placeholder="{{'NAME' | translate}}">
                        <label>{{'NAME' | translate}}</label>
                    </div>
                    <div class="validation-div">
                        <app-validation-message [control]="ContactForm.controls['fullName']" [messages]="messageList.fullName">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <textarea class="form-control" formControlName="description" id="exampleFormControlTextarea1" placeholder="Type Text" rows="3"></textarea>
                    <div class="validation-div">
                        <app-validation-message [control]="ContactForm.controls['description']" [messages]="messageList.description">
                        </app-validation-message>
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" prevent-double-submit class="btn-success">Send</button>
    </form>
</div>