
<div style="width: 350px;border-right: 1px solid #e7e7e7;" class="sidebar">
    <div class="btn-group">
        <ul>
             <li [class]="selectedEventType == 'chat'?'active':''" (click)="toggle()"  routerLink="event-chat">  chat</li>
            <li  [class]="selectedEventType == 'current'?'active':''"  (click)="toggle()"  routerLink="story" > story </li>
           
            
      
        </ul>

    </div>
    <ng-container *ngIf="!show">
  <ul class="list-group" >
        <li class="list-group-item   align-items-center" >
            <img src="https://picsum.photos/50" class="rounded-circle" alt="">   <small>john  lother</small>
             <br>
            <small style="text-align: center; margin-left: 50px; ">Lorem ipsum, dolor sit amet </small>
            <span class="badge badge-primary badge-pill">14 </span>
         
        
        </li>
        
        <li class="list-group-item   align-items-center">
            <img src="https://picsum.photos/50" class="rounded-circle" alt="">   <small>john  lother</small>
             <br>
            <small style="text-align: center; margin-left: 50px; ">Lorem ipsum, dolor sit amet </small>
            <span class="badge badge-primary badge-pill">14 </span>
         
        
        </li>
        <li class="list-group-item   align-items-center">
            <img src="https://picsum.photos/50" class="rounded-circle" alt="">   <small>john  lother</small>
             <br>
            <small style="text-align: center; margin-left: 50px; ">Lorem ipsum, dolor sit amet </small>
            <span class="badge badge-primary badge-pill">14 </span>
         
        
        </li>
        <li class="list-group-item   align-items-center">
            <img src="https://picsum.photos/50" class="rounded-circle" alt="">   <small>john  lother</small>
             <br>
            <small style="text-align: center; margin-left: 50px; ">Lorem ipsum, dolor sit amet </small>
            <span class="badge badge-primary badge-pill">14 </span>
         
        
        </li>
        <li class="list-group-item   align-items-center">
            <img src="https://picsum.photos/50" class="rounded-circle" alt="">   <small>john  lother</small>
             <br>
            <small style="text-align: center; margin-left: 50px; ">Lorem ipsum, dolor sit amet </small>
            <span class="badge badge-primary badge-pill">14 </span>
         
        
        </li>
        <li class="list-group-item   align-items-center">
            <img src="https://picsum.photos/50" class="rounded-circle" alt="">   <small>john  lother</small>
             <br>
            <small style="text-align: center; margin-left: 50px; ">Lorem ipsum, dolor sit amet </small>
            <span class="badge badge-primary badge-pill">14 </span>
         
        
        </li>
        <li class="list-group-item   align-items-center">
            <img src="https://picsum.photos/50" class="rounded-circle" alt="">   <small>john  lother</small>
             <br>
            <small style="text-align: center; margin-left: 50px; ">Lorem ipsum, dolor sit amet </small>
            <span class="badge badge-primary badge-pill">14 </span>
         
        
        </li>
      </ul>

    </ng-container>

    <ng-container *ngIf="show">


        
            <ul class="list-group" >
                <li class="list-group-item   align-items-center" >
                    <img src="https://picsum.photos/50" class="rounded-circle" alt=""> 
                      <small style=" margin-left: 25px;">My Story </small>
                     <div style="display: flex;">
                       <div>
       <small>Lorem ipsum dolor sit amet consectetur adipisicing elit.</small>
                       </div>
                       <div style="display: inline-flex;">
    <img src="assets/img/edit-icon.svg" width="15px" alt="">
    <img src="assets/img/cam-icon.png"   style=" width: 20px;
    margin-left: 10px;" alt="">
                       </div>
                     </div>          
                </li>
            <h6>Recent Updates  </h6>
                <li class="list-group-item   align-items-center" >
                    <img src="https://picsum.photos/50" class="rounded-circle" alt=""> 
                      <small style=" margin-left: 25px;">johs  lother</small>
                    <h6 style=" margin-left: 65px;">10:25pm</h6>             
                </li>
                <li class="list-group-item   align-items-center" >
                    <img src="https://picsum.photos/50" class="rounded-circle" alt=""> 
                      <small style=" margin-left: 25px;">johs  lother</small>
                    <h6 style=" margin-left: 65px;">10:25pm</h6>             
                </li>
                <li class="list-group-item   align-items-center" >
                    <img src="https://picsum.photos/50" class="rounded-circle" alt=""> 
                      <small style=" margin-left: 25px;">johs  lother</small>
                    <h6 style=" margin-left: 65px;">10:25pm</h6>             
                </li>
                <li class="list-group-item   align-items-center" >
                    <img src="https://picsum.photos/50" class="rounded-circle" alt=""> 
                      <small style=" margin-left: 25px;">johs  lother</small>
                    <h6 style=" margin-left: 65px;">10:25pm</h6>             
                </li>
                <li class="list-group-item   align-items-center" >
                    <img src="https://picsum.photos/50" class="rounded-circle" alt=""> 
                      <small style=" margin-left: 25px;">johs  lother</small>
                    <h6 style=" margin-left: 65px;">10:25pm</h6>             
                </li>
                <li class="list-group-item   align-items-center" >
                    <img src="https://picsum.photos/50" class="rounded-circle" alt=""> 
                      <small style=" margin-left: 25px;">johs  lother</small>
                    <h6 style=" margin-left: 65px;">10:25pm</h6>             
                </li>
                <li class="list-group-item   align-items-center" >
                    <img src="https://picsum.photos/50" class="rounded-circle" alt=""> 
                      <small style=" margin-left: 25px;">johs  lother</small>
                    <h6 style=" margin-left: 65px;">10:25pm</h6>             
                </li>
                </ul>
        </ng-container>



  
</div>