<div class="container">
    <h4 class="modal-title pull-left mt-3">FAQs</h4>
    <div class="row">
        <div class="col-12">
            <accordion class="faq-sec" *ngFor="let faq of faqs">
                <accordion-group heading={{faq.question}}>
                    <p> {{faq.answer}}</p>
                </accordion-group>
                <!-- <accordion-group heading="Lorem ipsum dolor sit, amet consectetur adipisicing elit ?.">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque, illum!</p>
                </accordion-group>
                <accordion-group heading="Lorem ipsum dolor sit, amet consectetur adipisicing elit ?.">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, nobis!</p>
                </accordion-group>
                <accordion-group heading="Lorem ipsum dolor sit, amet consectetur adipisicing elit ?.">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, illum!</p>
                </accordion-group>
                <accordion-group heading="Lorem ipsum dolor sit, amet consectetur adipisicing elit ?.">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, illum!</p>
                </accordion-group>
                <accordion-group heading="Lorem ipsum dolor sit, amet consectetur adipisicing elit ?.">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, illum!</p>
                </accordion-group>
                <accordion-group heading="Lorem ipsum dolor sit, amet consectetur adipisicing elit ?.">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, illum!</p>
                </accordion-group>
                <accordion-group heading="Lorem ipsum dolor sit, amet consectetur adipisicing elit ?.">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo, illum!</p>
                </accordion-group> -->
            </accordion>
        </div>
    </div>
</div>