
 <br> 

<div class="row">

    <div class="col-6">
     <h6>john Andrew </h6>
     <p class="bg-secondary text-center">what the time for event ?</p>
          <small class="ml-5">The 15 Aug 6:45</small>
    </div>
</div>
    
   <br>
<div class="row">
    <div class="col-6  offset-md-8">
        <h6 class="bg-info text-center">Around 10AM  Onword </h6>
        <small class="ml-5">The 15 Aug 6:45</small>
    </div>
</div>


<br> 
<div class="row">

    <div class="col-6">
     <h6>john Andrew </h6>
     <p class="bg-secondary text-center">what the time for event ?</p>
     <small class="ml-5">The 15 Aug 6:45</small>
    </div>
</div>
    
   <br>
<div class="row">
    <div class="col-6 offset-md-8">
        <h6 class="bg-info text-center">Around 10AM  Onword </h6>
        <small class="ml-5">The 15 Aug 6:45</small>
    </div>
</div>

<br> 
<div class="row">

    <div class="col-6">
     <h6>john Andrew </h6>
        <p class="bg-secondary text-center">what the time for event ?</p>
     <small class="ml-5">The 15 Aug 6:45</small>
    </div>
</div>
    
   <br>
<div class="row">
    <div class="col-6 offset-md-8">
        <h6 class="bg-info  text-center">Around 10AM  Onword </h6>
        <small class="ml-5">The 15 Aug 6:45</small>
    </div>
</div>


<div class="input-group">
    <input type="text" class="form-control" placeholder=" Write a Message " aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
     
      <button class="btn btn-outline-secondary" type="button"> <img src="assets/img/photo.png" width="20px" alt="">    </button>
      <button class="btn btn-outline-secondary" type="button"> <img src="assets/img/send.png" width="20px" alt="">   </button>
   
    </div>
  </div> 

  <br> <br> <br> <br> <br>