 
  
 <p>Assigned Task</p>
 <div class="row">
     <div class="col-2"> 
  
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <img src="https://picsum.photos/50"  style="margin-top: 30px;"  class="rounded-circle" alt=""> </li>
            <li class="list-group-item"> <img src="https://picsum.photos/50"  style="margin-top: 50px;" class="rounded-circle" alt=""> </li>
            <li class="list-group-item"> <img src="https://picsum.photos/50" style="margin-top: 50px;"  class="rounded-circle" alt="">  </li>
            <li class="list-group-item"> <img src="https://picsum.photos/50"  style="margin-top: 50px;" class="rounded-circle" alt="">  </li>
            <li class="list-group-item"> <img src="https://picsum.photos/50"  style="margin-top: 50px;" class="rounded-circle" alt="">  </li>
            <li class="list-group-item"> <img src="https://picsum.photos/50" style="margin-top: 50px;"  class="rounded-circle" alt=""> </li>
            <li class="list-group-item"> <img src="https://picsum.photos/50"  style="margin-top: 50px;" class="rounded-circle" alt=""> </li>
            <li class="list-group-item"> <img src="https://picsum.photos/50"  style="margin-top: 50px;" class="rounded-circle" alt="">  </li>
            <li class="list-group-item"> <img src="https://picsum.photos/50"  style="margin-top: 50px;" class="rounded-circle" alt="">  </li>
           
     
          </ul>


     </div>
     

     <div class="col-9"> 
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <h6>Alex Root</h6>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                 iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
                 <li class="list-group-item"> <h6>Alex Root</h6>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                         iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
                         <li class="list-group-item"> <h6>Alex Root</h6>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                                 iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item"> <h6>Alex Root</h6>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                     iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
                     <li class="list-group-item"> <h6>Alex Root</h6>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                             iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
                             <li class="list-group-item"> <h6>Alex Root</h6>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                                     iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
                                     <li class="list-group-item"> <h6>Alex Root</h6>
                                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                                             iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
                                             <li class="list-group-item"> <h6>Alex Root</h6>
                                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                                                     iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
                        <li class="list-group-item"> <h6>Alex Root</h6>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo laborum numquam perspiciatis
                                 iusto reprehenderit asperiores fuga nisi, porro velit.</p></li>
          </ul>


     </div>


     <div class="col-1">
         <ul>
             <li  style="margin-top: 55px;"><button type="button" class="btn btn-outline-secondary">Done</button></li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>
             <li style="color: green;  margin-top: 75px;"> complited</li>


             
         </ul>
     </div>
 </div>