<div class="container">
    <div class="modal-body register-form">
        <form *ngIf="changePasswordForm" [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 pl-0 pr-0">
                    <h4 class="modal-title pull-left">change Password</h4>
                    <div class="form-group input-group">
                        <img src="../../../../assets/img/Hide.svg" style="cursor: pointer;z-index: 99999;" class="eye_img mouse-hover" (click)="toggleConfirmPasswordType()"   
                        *ngIf="confirmPasswordType === 'password'" />
                        <img src="../../../../assets/img/eye-open.svg" style="cursor: pointer;z-index: 99999;" class="eye_img mouse-hover" (click)="toggleConfirmPasswordType()"   
                        *ngIf="confirmPasswordType === 'text'" />
                        <div class="has-float-label">
                            <input type="password" class="form-control" formControlName="old_password" placeholder="{{'OLD_PASSWORD' | translate}}" trim maxlength="13" [type]="confirmPasswordType">
                            <label for="password">{{"OLD_PASSWORD" | translate}}</label>

                        </div>
                        <div class="validation-div">
                            <app-validation-message [control]="changePasswordForm.controls['old_password']" [messages]="messageList.old_password">
                            </app-validation-message>
                        </div>
                    </div>
                    <div class="form-group input-group">
                        <img src="../../../../assets/img/Hide.svg" style="cursor: pointer;z-index: 99999;" class="eye_img mouse-hover" (click)="newPassword()"   
                        *ngIf="newPasswords === 'password'" />
                        <img src="../../../../assets/img/eye-open.svg" style="cursor: pointer;z-index: 99999;" class="eye_img mouse-hover" (click)="newPassword()"   
                        *ngIf="newPasswords === 'text'" />
         
                        <div class="has-float-label">
                            <input type="password" class="form-control" formControlName="password"
                             placeholder="{{'NEW_PASSWORD' | translate}}" trim maxlength="13" [type]="newPasswords">
                            <label for="password">{{"NEW_PASSWORD" | translate}}</label>

                        </div>
                        <div class="validation-div">
                            <app-validation-message [control]="changePasswordForm.controls['password']" [messages]="messageList.password">
                            </app-validation-message>
                        </div>
                    </div>

                    <div class="form-group input-group">
                        <img src="../../../../assets/img/Hide.svg" style="cursor: pointer;z-index: 99999;" class="eye_img mouse-hover" (click)="confirmPasswords()"  
                        *ngIf="confirmPassword === 'password'" />
                        <img src="../../../../assets/img/eye-open.svg" style="cursor: pointer;z-index: 99999;" class="eye_img mouse-hover" (click)="confirmPasswords()"   
                        *ngIf="confirmPassword  === 'text'" />
                        <div class="has-float-label">
                            <input type="password" class="form-control" formControlName="confirm_password" placeholder="{{'CONFIRM_PASSWORD' | translate}}" trim maxlength="13" [type]="confirmPassword">
                            <label for="password">{{"CONFIRM_PASSWORD" | translate}}</label>
                        </div>
                        <div class="validation-div">
                            <small class="form-text text-muted error">
                            <div
                                *ngIf="(!ChangePasswordFormControls['confirm_password'].errors || !ChangePasswordFormControls['confirm_password'].errors.required) &&
                                ChangePasswordFormControls['password'].touched &&   ChangePasswordFormControls['confirm_password'].touched &&
                                ChangePasswordFormControls['confirm_password'].errors &&   ChangePasswordFormControls['confirm_password'].errors.confirm_password">
                                {{'ERR_PASSWORD_NOT_MATCH' | translate}}
                            </div>
                        </small>
                        </div>
                    </div>
                    <div class="btn_group mt-4">
                        <button type="submit" prevent-double-submit class="btn-success">Save</button>

                    </div>

                </div>
            </div>


        </form>
    </div>
</div>